/* Write your CSS here */
.vaccination-byAge-container {
  background-color: #1c1c2b;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0px;
}
